<mat-sidenav-container class="sidebar-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <mat-icon class="logo-icon">support_agent</mat-icon>
        <h2>Helpdesk</h2>
      </div>
    </div>

    <div class="user-info" *ngIf="currentUser">
      <div class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="user-details">
        <h4>{{ getUserDisplayName() }}</h4>
        <p>{{ getUserRole() }}</p>
      </div>
    </div>

    <mat-nav-list class="sidebar-menu">
      <a mat-list-item 
         *ngFor="let item of getFilteredMenuItems()"
         [routerLink]="item.route"
         routerLinkActive="active"
         [class.active]="isActiveRoute(item.route)"
         class="menu-item">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>

    <div class="sidebar-footer">
      <button mat-button class="logout-button" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </div>
  </mat-sidenav>
</mat-sidenav-container> 